@mixin borders($left-top, $right-bottom, $radius) {
  border: 8px solid;
  border-color: $right-bottom $left-top $left-top $right-bottom;
  border-radius: $radius;
}

@mixin buttons {
  &:active {
    background-color: rgb(214, 214, 214);
    border-color: rgb(214, 214, 214) rgb(243, 243, 243) rgb(243, 243, 243)
      rgb(214, 214, 214);
  }
}
