@import "../../styles/index.scss";

.App {
  background-color: #c2c2c2;
  padding: 16px;
  @include borders(darkgray, lightgray, 16px);
}

.Header {
  padding: 10px 12px;
  @include borders(lightgray, darkgray, 8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Body {
  margin-top: 16px;
  @include borders(lightgray, darkgray, 8px);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
}

.Face {
  font-size: 35px;
  width: 62px;
  height: 62px;
  @include borders(lightgray, darkgray, 8px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
