@import "../../styles/index.scss";

.App {
  background-color: #e7e7e7;
  padding: 32px;
  @include borders(rgb(214, 214, 214), rgb(243, 243, 243), 32px);
  display: flex;
}

.Header {
  padding: 10px 12px;
  @include borders(rgb(243, 243, 243), rgb(214, 214, 214), 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Body {
  background-color: rgb(214, 214, 214);
  margin-left: 32px;
  @include borders(rgb(243, 243, 243), rgb(214, 214, 214), 16px);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
}

.Face {
  font-size: 40px;
  width: 72px;
  height: 72px;
  @include borders(rgb(214, 214, 214), rgb(243, 243, 243), 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include buttons();
}
